﻿@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@using TIBS.stem.Web.Bundling
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>stem</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    @* Fill these meta tags upon your project specification *@
    <meta content="stem" name="description" />
    <meta content="stem" name="keywords">
    <meta content="stem" name="author" />

    <link rel="shortcut icon" href="~/favicon.ico" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

    @Html.IncludeStyle(StylePaths.FontAwesome)
    @Html.IncludeStyle(StylePaths.Simple_Line_Icons)
    @Html.IncludeStyle(StylePaths.Bootstrap)
    @Html.IncludeStyle(StylePaths.JQuery_Uniform)
    @Html.IncludeStyle(StylePaths.Toastr)
    @Html.IncludeStyle(StylePaths.SweetAlert)
    @Html.IncludeStyle(StylePaths.FamFamFamFlags)

    @Html.IncludeStyle("~/metronic/assets/global/css/components-md.css")
    @Html.IncludeStyle("~/metronic/assets/global/css/plugins-md.css")
    @Html.IncludeStyle("~/metronic/assets/admin/layout/css/layout.css")
    @Html.IncludeStyle("~/metronic/assets/admin/layout/css/themes/default.css")

    @Styles.Render("~/Bundles/Common/css")

    @Html.IncludeStyle("~/Views/Account/_Layout.css")

    @RenderSection("Styles", false)

</head>
<body class="page-md login">
    <div class="menu-toggler sidebar-toggler">
    </div>
    <div class="logo">
        <a href="~/">
            <img src="~/App/common/images/app-logo-on-dark.png" alt="" width="149" height="35" />
        </a>
    </div>
    <div class="content">
        @RenderBody()
    </div>
    @Html.Action("Languages", "Account")
    <div class="copyright">
        @Clock.Now.Year © stem.
    </div>

    <!--[if lt IE 9]>
        <script src="~/libs/respond/respond.min.js"></script>
        <script src="~/libs/excanvas/excanvas.min.js"></script>
    <![endif]-->
    @Html.IncludeScript(ScriptPaths.Json2)
    @Html.IncludeScript(ScriptPaths.JQuery)
    @Html.IncludeScript(ScriptPaths.JQuery_Migrate)
    @Html.IncludeScript(ScriptPaths.Bootstrap)
    @Html.IncludeScript(ScriptPaths.JQuery_BlockUi)
    @Html.IncludeScript(ScriptPaths.JQuery_Uniform)
    @Html.IncludeScript(ScriptPaths.JQuery_Cookie)
    @Html.IncludeScript(ScriptPaths.Toastr)
    @Html.IncludeScript(ScriptPaths.SpinJs)
    @Html.IncludeScript(ScriptPaths.SpinJs_JQuery)
    @Html.IncludeScript(ScriptPaths.SweetAlert)
    @Html.IncludeScript(ScriptPaths.Abp)
    @Html.IncludeScript(ScriptPaths.Abp_JQuery)
    @Html.IncludeScript(ScriptPaths.Abp_BlockUi)
    @Html.IncludeScript(ScriptPaths.Abp_SpinJs)
    @Html.IncludeScript(ScriptPaths.Abp_Toastr)
    @Html.IncludeScript(ScriptPaths.Abp_SweetAlert)

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>

    @Html.IncludeScript(ScriptPaths.JQuery_Validation)
    @Html.IncludeScript(ScriptPaths.JQuery_Validation_Localization)

    @Html.IncludeScript("~/metronic/assets/global/scripts/metronic.js")

    @Scripts.Render("~/Bundles/Common/js")

    @Html.IncludeScript("~/metronic/assets/admin/layout/scripts/layout.js")

    @RenderSection("Scripts", false)

    <script>
        jQuery(document).ready(function () {
            Metronic.init();
            Layout.init();
            CurrentPage && CurrentPage.init();
        });
    </script>
</body>
</html>
