﻿@using TIBS.stem.MultiTenancy
@section Scripts
{
    <script src="~/Views/Account/ForgotPassword.js" type="text/javascript"></script>
}
<form class="forget-form" action="@Url.Action("SendPasswordResetLink")" method="post">
    <h3>@L("ForgotPassword")</h3>
    <p>
        @L("SendPasswordResetLink_Information")
    </p>
    @if (ViewBag.IsMultiTenancyEnabled)
    {
        if (string.IsNullOrEmpty(ViewBag.TenancyName))
        {
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">@L("TenancyName")</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="text" placeholder="@L("TenancyName")" name="tenancyName" maxlength="@Tenant.MaxTenancyNameLength" />
            </div>
        }
        else
        {
            <input type="hidden" name="tenancyName" value="@ViewBag.TenancyName" />
        }
    }
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">@L("EmailAddress")</label>
        <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="@L("EmailAddress")" name="EmailAddress" required maxlength="@TIBS.stem.Authorization.Users.User.MaxEmailAddressLength" />
    </div>
    <div class="form-actions">
        <a href="@Url.Action("Login", "Account")"><button type="button" id="back-btn" class="btn btn-default">@L("Back")</button></a>
        <button type="submit" class="btn btn-success uppercase pull-right">@L("Submit")</button>
    </div>
</form>