﻿@using Abp.Extensions
@using TIBS.stem.MultiTenancy
@model TIBS.stem.Web.Models.Account.LoginFormViewModel
@section Scripts
{
    <script src="~/Views/Account/Login.js" type="text/javascript"></script>
}
<form class="login-form" action="@Url.Action("Login")?returnUrl=@ViewBag.ReturnUrl" method="post">
    <h3 class="form-title">@L("LogIn")</h3>
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span>
            <i class="fa fa-warning"></i> @L("PleaseEnterLoginInformation")
        </span>
    </div>
    @if (!Model.SuccessMessage.IsNullOrEmpty())
    {
        <div class="alert alert-success">
            <button class="close" data-close="alert"></button>
            <span>
                @Model.SuccessMessage
            </span>
        </div>
    }
    @if (ViewBag.IsMultiTenancyEnabled)
    {
        if (Model.TenancyName.IsNullOrEmpty())
        {
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">@L("TenancyName")</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="text" placeholder="@L("TenancyName")" name="tenancyName" maxlength="@Tenant.MaxTenancyNameLength" />
            </div>
        }
        else
        {
            <input type="hidden" name="tenancyName" value="@Model.TenancyName" />
        }
    }
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">@L("UserNameOrEmail")</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="@L("UserNameOrEmail")" name="usernameOrEmailAddress" value="@(Model.UserNameOrEmailAddress ?? "")" required />
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">@L("Password")</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="@L("Password")" name="password" />
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-success uppercase">@L("LogIn")</button>
        <label class="rememberme check">
            <input type="checkbox" name="rememberMe" value="true" />@L("RememberMe")
        </label>
        <a href="@Url.Action("ForgotPassword", "Account")" id="forget-password" class="forget-password">@L("ForgotPassword")</a>
    </div>
    @*<div class="login-options">
        <h4>Or login with</h4>
        <ul class="social-icons">
            <li>
                <a class="social-icon-color facebook" data-original-title="facebook" href="javascript:;"></a>
            </li>
            <li>
                <a class="social-icon-color twitter" data-original-title="Twitter" href="javascript:;"></a>
            </li>
            <li>
                <a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:;"></a>
            </li>
            <li>
                <a class="social-icon-color linkedin" data-original-title="Linkedin" href="javascript:;"></a>
            </li>
        </ul>
    </div>*@
    <div class="create-account">
        <p>
            @if (Model.IsSelfRegistrationEnabled)
            {
                <a href="@Url.Action("Register", "Account")" id="register-btn" class="uppercase">@L("CreateAnAccount")</a>
                <span class="pipe-divider"> | </span>
            }
            <a href="@Url.Action("EmailActivation", "Account")" id="email-activation-btn" class="uppercase">@L("EmailActivation")</a>
        </p>
    </div>
</form>
