﻿/* General */

button {
    i {
        margin-right: 5px;
    }
}

.clickable-item {
    cursor: pointer;
}

/* Grid & Grid content */

.ui-grid {
    min-height: 380px;
}

.ui-grid .dropdown.open {
    position: fixed;
    z-index: 10;
}

/* Forms */

.form-group.form-md-line-input.no-hint {
    margin-bottom: 15px;
}

/* Material Design form input angular validation colors */

.form-group.form-md-line-input .form-control.ng-touched.ng-invalid {
    border-bottom-color: red;
}

.form-group.form-md-line-input .form-control.ng-touched.ng-invalid.edited:not([readonly]) ~ label:after {
    background-color: red;
}

/* Portlets */

.portlet.light > .portlet-title > .inputs.inputs-full-width {
    display: block;
    float: none;
}

/* Tree */

.tree-item-icon-color {
    color: #dfba49;
}
