﻿<div ng-controller="tenant.views.phonebook.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("Phonebook")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">

            <p>PHONE BOOK CONTENT COMES HERE!</p>

        </div>
    </div>
</div>