﻿<div class="row margin-bottom-40">
    <div class="col-md-12 col-sm-12">
        <div class="content-page page-404">
            <div class="number">
                404
            </div>
            <div class="details">
                <h3>@L("OopsYouAreLost")</h3>
                <p>
                    @L("WeCanNotFindThePage")<br>
                    <a href="@Url.Action("Index", "Home")" class="link">@L("HomePage")</a>.
                </p>
            </div>
        </div>
    </div>
</div>