@using TIBS.stem
<div class="page-footer-inner">
    <span class="text-muted"><small>v@(AppVersionHelper.Version) [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]</small></span>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>