﻿.page-header.navbar .page-logo .logo-default {
    margin: 19px 10px 0 10px;
}

.page-header.navbar.navbar-fixed-top {
    z-index: 1000;
}

.page-header.navbar.navbar-static-top {
    z-index: 1000;
}