﻿body {
    font-size: 14px;
}

ul#TopLanguageList {
    list-style: none;
    margin: 0;
    padding: 0
}

ul#TopLanguageList li {
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}

ul#TopLanguageList li.selected-language a span {
    color: black;
    font-weight: bold;
}

.sweet-alert .icon,
.sweet-alert .icon.success .placeholder {
    -ms-border-radius: 50% !important;
    border-radius: 50% !important;
}